* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Commissioner", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: beige;
  width: 100%;
  flex-wrap: wrap;
  max-width: 100%;
}
header {
  width: 100%;
  padding: 3rem 7.5% 21rem;
  background-image: url("/images/image-hero-mobile.jpg");
  background-repeat: repeat;
  /* background-size: cover; */
  box-shadow: inset 0 0 15rem rgba(0, 0, 0, 0.5);
}
.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  z-index: 2;
  transition: opacity 0.5s ease;
}

.main {
  border: black;
  /* width: 30%; */
  display: block;
  margin: 0 150px;
  padding: 0 0;
  /* width: 100%; */
  /* flex-wrap: wrap; */
}
.menu #openNav {
  display: none;
}
/* mobile menu */
#mobileNav {
  position: absolute;
  top: 8rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  overflow: hidden;
  pointer-events: none;
  transition-property: max-height, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.master {
  /* margin: 0 60px; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -15px;
  gap: 30px;
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  top: -30px;
}
.master .title {
  padding-top: 20px;
}
.ctas {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  /* align-items: flex-start; */
  /* align-items: center; */
  /* gap: 250px; */
}
.cta-back {
  padding: 1.2rem 2rem;
  border-radius: 30px;
  background-color: rgb(125, 233, 229);
  color: rgb(250, 250, 250);
  cursor: pointer;
  flex-wrap: wrap;
}
.cta-back:hover {
  background-color: rgb(4, 38, 38);
}
.ctabookmark {
  background-color: rgb(231, 225, 225);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  align-items: center;
}
.ctabookmark .icon {
  width: 56px;
  height: 56px;
  background: url(images/icon-bookmark.svg);
}
.ctabookmark p {
  padding: 10px;
}
.stats {
  border: 1px solid rgb(220, 220, 220);
  padding: 20px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .numbers {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  gap: 2.5rem;
}
.stats .numbers .stat {
  position: relative;
}
.stats .numbers .stat:after {
  content: "";
  position: absolute;
  left: calc(100% + 1.25rem);
  bottom: 0;
  height: 100%;
  border-right: 1px solid rgb(230, 230, 230);
}
.stats .numbers .stat:last-child:after {
  border: none;
}
.stats .numbers .stat span {
  font-weight: 700;
  font-size: 2.25em;
  color: black;
}
.stats .progress {
  border-radius: 0.75rem;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  outline: none;
  pointer-events: none;
  height: 0.75rem;
  background: linear-gradient(
    to right,
    var(--moderate-cyan) 0,
    var(--moderate-cyan) 89%,
    rgb(230, 230, 230) 89%,
    rgb(230, 230, 230) 100%
  );
}
.stats .progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--moderate-cyan);
}
.last {
  padding: 10px;
  background-color: rgb(253, 253, 253);
}
.last > h1 {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.last .about-txt1 {
  margin-bottom: 20px;
}
.last .about-txt2 {
  margin-bottom: 20px;
}
.project-types .heading {
  font-size: 1.25em;
}
.project-types {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-types .item {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 1rem 2rem;
}
.project-types .item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-range {
  font-weight: 500;
  color: cyan;
  width: fit-content;
}
.project-types {
  margin: 2.5rem 0;
}
.project-types .item .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.capacity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.capacity span {
  font-size: 2em;
  font-weight: 700;
  color: black;
}
.cta-reward {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: rgb(121, 219, 219);
  color: rgb(250, 250, 250);
  cursor: pointer;
}
.cta-reward:hover {
  background-color: darkcyan;
}
.project-types .item.out-of-stock {
  opacity: 0.5;
}
.out-of-stock .cta-reward {
  background-color: darkgray;
  pointer-events: none;
}
.default-modal {
  display: none;
  padding: 10px;
  background-color: rgb(253, 253, 253);
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
}
.default-modal > h1 {
  padding-top: 30px;
  padding-left: 10px;
  /* padding: 10px 30px; */
  font-weight: bold;
  margin-bottom: 5px;
}
.default-modal > p {
  margin-bottom: 10px;
  padding-left: 10px;
}
.default-modal .close-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: black;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 30px;
}
/* Discuss the different type of programming languages and their usage*/
/*interpreted and compiled languages*/
@media only screen and (max-width: 700px) {
  .menu #openNav {
    display: block;
  }
  .menu .menu-items {
    display: none;
  }
  .main {
    border: black;
    display: block;
    margin: 0 50px;
    padding: 0 0;
  }
  .ctas {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  .cta-back {
    padding: 1.2rem 1.2rem;
    border-radius: 30px;
    background-color: rgb(125, 233, 229);
    color: rgb(250, 250, 250);
    cursor: pointer;
  }
  .ctabookmark > p {
    display: none;
  }
  .ctabookmark .icon {
    width: 56px;
    height: 56px;
    background: url(images/icon-bookmark.svg);
    background-attachment: unset;
    box-sizing: unset;
    background-size: cover;
  }
  .stats .numbers {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
  }
  .project-types .item .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 25px;
    gap: 10px;
  }
  .project-types .item .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    padding-top: 25px;
  }
}
